<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="http://localhost:8080/css/headerFooterStyle.css">
</head>
<footer class="footer">
    <div class="footer-left">
        <span>Kajora Inc. </span>
        <a href="#" class="social-link"><img src="http://localhost:8080/img/facebook.png" alt="Facebook"></a>
        <a href="#" class="social-link"><img src="http://localhost:8080/img/whatsapp.png" alt="WhatsApp"></a>
        <a href="#" class="social-link"><img src="http://localhost:8080/img/instagram.png" alt="Instagram"></a>
    </div>
    <div class="footer-right">
        <span>&copy; 2025 Kajora Inc. Todos los derechos reservados.</span>
    </div>
</footer>
