<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="http://localhost:8080/css/headerFooterStyle.css">
</head>
<header class="header">
    <div class="header-left">
        <a href="/" class="mainmenu"><img src="http://localhost:8080/img/logo.png" alt="Logo del hospital" class="logo"></a>
        <a href="/" class="maintitle"><span class="hospital-nombre">Hospital Kajora</span></a>
    </div>
    <div class="header-center">
        <span th:if="${usuario}" th:text="${usuario}" class="telefono"></span> <!-- Agregar nombre usuario eventualmente-->
    </div>
    <nav class="header-right">
        <a href="../about" class="nav-link">About</a>
        <a href="../pacientes/PacienteBuscarCita" class="nav-link">Búsqueda</a>
        <a href="../prelogin" class="nav-link">Login</a>
    </nav>
</header>
