<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="http://localhost:8080/css/headerFooterStyle.css">
</head>
<header class="header">
    <div class="header-left">
        <a href="/" class="mainmenu"><img src="http://localhost:8080/img/logo.png" alt="Logo del hospital" class="logo"></a>
        <a href="/" class="maintitle"><span class="hospital-nombre">Hospital Kajora</span></a>
    </div>
    <div class="header-center">
        <span class="telefono">📞 +123 456 7890</span>
    </div>
    <nav class="header-right">
        <!-- Enlace para todos los usuarios -->
        <a href="../about" class="nav-link">About</a>

        <!-- Mostrar opciones dependiendo del rol del usuario -->
        <div th:if="${session.tipo == 'paciente'}">
            <a th:href="@{/pacientes/PacienteHistoricoCitas}" class="nav-link">Historial</a>
            <a th:href="@{/pacientes/buscar}" class="nav-link">Buscar</a>
            <a href="../index" class="nav-link">Logout</a>

        </div>

        <div th:if="${session.tipo == 'medico'}">
            <a href="../medicos/MedicoGestionCitas" class="nav-link">Citas</a>
            <a href="../medicos/MedicoPerfil" class="nav-link">Perfil</a>
            <a href="../index" class="nav-link">Logout</a>
        </div>

        <div th:if="${session.tipo == 'administrador'}">
            <a th:href="@{/}" class="nav-link">Logout</a>
        </div>

        <!-- Para usuarios no logueados -->
        <div th:if="${session.tipo == null}">
            <a th:href="@{/pacientes/buscar}" class="nav-link">Buscar</a>
            <a th:href="@{/prelogin}" class="nav-link">Login</a>
        </div>
    </nav>
</header>
