/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0fdf4;
    color: #1b4332;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.encabezado {
    background-color: #40916c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.titulo {
    margin: 0;
    font-size: 24px;
}

/* Contenedor principal */
.contenedorCitas {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Filtros */
.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

button {
    height: 40px;
    padding: 5px 15px;
    font-size: 16px;
    align-self: flex-end;
    background-color: #abf5dc; /* Fondo amarillo */
    border-color: #004444;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #013f3f; /* Efecto hover */
}

.etiquetaFormulario {
    font-weight: bold;
    margin-bottom: 5px;
    color: #1b4332;
}

.entradaFormulario {
    padding: 10px;
    border: 1px solid #a3c4bc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
    min-width: 200px;
}

/* Tabla */
.tablaCitas {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #40916c;
    color: white;
}

tr:hover {
    background-color: #d8f3dc;
}

.Completada {
    background-color: #52b788;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;

}

.Pendiente {
    background-color: #e9c46a;
    color: #1b4332;
    padding: 10px 20px;
    border-radius: 15px;
}

.Cancelada {
    background-color: #f1a7b4; /* Color para "cancelada", puedes ajustar */
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}


/* Footer */
.piePagina {
    text-align: center;
    padding: 10px;
    background-color: #40916c;
    color: white;
    margin-top: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
    .filtros {
        flex-direction: column;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
