<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Citas</title>

    <link rel="stylesheet" th:href="@{/css/gestionCitasStyle.css}">

</head>
<body>
<div th:replace="~{layouts/header}"></div>

    <section class="contenedorHorario">
    <a href="/medicos/MedicoGestionHorarios" class="botonHorario">  Gestión de Horarios </a>
    </section>

    <main class="contenedorCitas">
        <h1 th:text="'Dr.  ' + ${nombre} + ' - Gestión de Citas'" class="titulo"></h1>

        <form action="/medicos/MedicoGestionCitas" method="get" class="form-busqueda">
            <section class="filtros">

           <div >
            <label for="filtroEstado" class="etiquetaFormulario">Filtrar por estado:</label>
            <label for="filtroPaciente" class="etiquetaFormulario">Filtrar por paciente:</label>
           </div>

                <div class="fila-inputs">
            <select class="entradaFormulario" id="filtroEstado" name="filtroEstado">
                <option value="Todas">Todas</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Completada">Completada</option>
                <option value="Cancelada">Cancelada</option>
            </select>

            <input type="text" id="filtroPaciente" name="filtroPaciente" class="entradaFormulario" placeholder="Ingrese nombre del paciente">

           <button type="submit" class="filtrar">Buscar</button>
                </div>
           </section>
        </form>

        <section class="tablaCitas">
            <table>
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Dia</th>
                        <th>Estado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="cita : ${citas}">
                    <td th:text="${nombresPacientes != null and nombresPacientes.get(cita.getPacienteID()) != null ? nombresPacientes.get(cita.getPacienteID()) : 'No asignado'}"></td>
                    <td th:text="${cita.getFecha()}"></td>
                    <td th:text="${cita.getHoraInicio()}"></td>
                    <td th:text="${'MONDAY' == cita.getDiaSemana() ? 'Lunes' :
              'TUESDAY' == cita.getDiaSemana() ? 'Martes' :
              'WEDNESDAY' == cita.getDiaSemana() ? 'Miércoles' :
              'THURSDAY' == cita.getDiaSemana() ? 'Jueves' :
              'FRIDAY' == cita.getDiaSemana() ? 'Viernes' :
              'SATURDAY' == cita.getDiaSemana() ? 'Sábado' :
              'SUNDAY' == cita.getDiaSemana() ? 'Domingo' : ''}"></td>
                    <td><span th:text="${cita.getEstado()}" ></span></td>
                    <td>
                        <form action="/medicos/actualizarCita" method="post">
                            <input type="hidden" name="citaIdCambiar" th:value="${cita.getId()}">
                            <input type="hidden" name="estadoCita" value="Completada">
                            <button type="submit" class="botonCompletar">Completar</button>
                        </form>
                    </td>
                    <td>
                        <form action="/medicos/actualizarCita" method="post">
                            <input type="hidden" name="citaIdCambiar" th:value="${cita.getId()}">
                            <input type="hidden" name="estadoCita" value="Cancelada">
                            <button type="submit" class="botonEliminar">Cancelar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>

<div th:replace="~{layouts/footer}"></div>

</body>
</html>
