<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Horarios</title>

    <link rel="stylesheet" th:href="@{/css/gestionCitasStyle.css}">
</head>

<body>
<div th:replace="~{layouts/header}"></div>

<section class="contenedorHorario">
<!-- Reenviar de nuevo a gestion citas -->
    <a href="/medicos/MedicoGestionCitas" class="botonHorario">  Gestión de Citas </a>
</section>

<main class="contenedorCitas">
    <section class="tablaCitas">
        <!-- Agregar un nuevo horario-->
        <p> <span style="color: #2d6a4f; font-weight: bold">Crear un nuevo horario </span> </p>
        <form action="/medicos/MedicoGestionHorario" method="post">
            <table>
                <thead>
                <tr>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" id="especialidad" name="especialidad" th:value="${medico.getEspecialidad()}" required readonly style="color: #999999"></td>
                    <td><input type="date" id="fecha" name="fecha" required></td>
                    <td><input type="time" id="hora" name="hora" required></td>
                    <td><input  type="number" id="precio"  name="precio" required></td>
                    <td><input type="submit" value="Enviar"> </td>
                </tr>
                </tbody>
            </table>
        </form>


    </section>

    <section class="filtros">

        <label for="filtroFecha" class="etiquetaFormulario">Filtrar por Fecha:</label>
        <input type="date" id="filtroFecha" class="entradaFormulario" placeholder="Ingrese la fecha del horario">

        <label for="filtroPrecio" class="etiquetaFormulario">Filtrar por el Precio:</label>
        <input type="number" id="filtroPrecio" class="entradaFormulario" placeholder="Ingrese el monto">
    </section>

    <section class="tablaCitas">
        <p> <span style="color: #2d6a4f; font-weight: bold">Lista de Horarios </span> </p>
        <table>
                <thead>
                <tr>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Precio</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Odontologia</td>
                    <td>2025-03-12</td>
                    <td>09:00 AM</td>
                    <td>60 000</td>
                </tr>
                <tr>
                    <td>Dermatologia</td>
                    <td>2025-03-11</td>
                    <td>11:30 AM</td>
                    <td>120 000</td>
                </tr>
                </tbody>
        </table>
    </section>

</main>



<div th:replace="~{layouts/footer}"></div>

</body>
</html>