<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Medico</title>
    <link rel="stylesheet" th:href="@{/css/perfilMedicoStyle.css}">
</head>
<body>
    <div th:replace="~{layouts/header}"></div> <!-- Header arriba -->

    <div class="contenedorPerfil">
        <img src="img/PPSnape.jpg" alt="Foto de Perfil" class="imagenPerfil">
        <form class="contenidoFormulario" action="/medicos/MedicoPerfil" method="post">
            <div class="grupoFormulario">
                <label for="nombre" class="etiquetaFormulario">Nombre</label>
                <input type="text" class="entradaFormulario" id="nombre" name="nombre" th:value="${medico.getNombre()}"  required>
            </div>
            <div class="grupoFormulario">
                <label for="especialidad" class="etiquetaFormulario">Especialidad</label>
                <input type="text" class="entradaFormulario" id="especialidad" name="especialidad" th:value="${medico.getEspecialidad()}"  required>
            </div>
            <div class="grupoFormulario">
                <label for="presentacion" class="etiquetaFormulario">Presentación</label>
                <textarea class="entradaFormulario" id="presentacion" name="presentacion" rows="3" required
                          th:text="${medico.getPresentacion()}"></textarea>
            </div>
            <div class="grupoFormulario">
                <label for="ubicacion" class="etiquetaFormulario">Ubicación</label>
                <input type="text" class="entradaFormulario" id="ubicacion" name="ubicacion" th:value="${medico.getUbicacion()}"  required>
            </div>
            <div class="grupoFormulario">
                <label for="fotoPerfil" class="etiquetaFormulario">Foto de Perfil</label>
                <input type="file" class="entradaFormulario" id="fotoPerfil">
            </div>
            <button type="submit" class="botonEnviar">Guardar Cambios</button>
        </form>
    </div>
    <div th:replace="~{layouts/footer}"></div>
</body>
</html>
