<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="http://localhost:8080/css/loginRegistroStyle.css">
</head>
<body>
<div th:replace="~{layouts/header}"></div>
<div class="contenedorPrincipal">
    <div class="formulario">
        <h2 class="titulo">Registro</h2>

        <!-- Si hay un mensaje de error, lo mostramos aquí -->
        <div th:if="${error}" class="mensajeError" th:text="${error}"></div>

        <!-- Formulario para el registro -->
        <form class="contenidoFormulario" action="registro" method="post">
            <div class="grupoFormulario">
                <label for="idUsuario" class="etiquetaFormulario">ID de Usuario</label>
                <input type="text" class="entradaFormulario" id="idUsuario" name="identificacion" placeholder="Ingrese su ID" required>
            </div>
            <div class="grupoFormulario">
                <label for="nombreUsuario" class="etiquetaFormulario">Nombre</label>
                <input type="text" class="entradaFormulario" id="nombreUsuario" name="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="grupoFormulario">
                <label for="contrasenaUsuario" class="etiquetaFormulario">Contraseña</label>
                <input type="password" class="entradaFormulario" id="contrasenaUsuario" name="contrasenna" placeholder="Ingrese su Contraseña" required>
            </div>
            <div class="grupoFormulario">
                <input type="password" class="entradaFormulario" id="confirmarContrasena" name="confirmarContrasenna" placeholder="Confirme su Contraseña" required>
            </div>
            <button type="submit" class="botonEnviar">Registrarse</button>
        </form>
        <p class="enlace-formulario">¿Ya tienes cuenta? <a href="login" class="enlace">Inicia sesión aquí</a></p>
    </div>
</div>
<div th:replace="~{layouts/footer}"></div>
</body>
</html>
