<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/error404Style.css">
</head>
<body>


    <!-- Contenido Principal -->
    <main class="contenedor">
        <section class="error404">
            <h1>404</h1>
            <h2>Oops... Página no encontrada</h2>
            <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
            <a href="/index.html" class="boton-volver">Volver al Inicio</a>
        </section>
    </main>

   

</body>
</html>
