<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Horario Extendido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/horarioExtendidoStyle.css}">
</head>
<body>

<div th:replace="~{layouts/header}"></div>

<div class="card-medico">
    <h2 th:text="${medico.nombre}"></h2>
    <p><strong>Especialidad:</strong> <span th:text="${medico.especialidad}"></span></p>
    <p><strong>Ubicación:</strong> <span th:text="${medico.ubicacion}"></span></p>
</div>

<div class="encabezado-horarios">
    <h3 th:text="'Horarios disponibles para el día ' + ${fechaActual}"></h3>

    <div class="navegacion-fechas">
        <a th:if="${fechaAnterior != null}"
           th:href="@{pacienteHorarioExtendido(medicoID=${medico.identificacion}, fecha=${fechaAnterior})}"
           class="btn-navegacion">Anterior</a>
        <button th:if="${fechaAnterior == null}" class="btn-navegacion" disabled>Anterior</button>

        <a th:if="${fechaSiguiente != null}"
           th:href="@{pacienteHorarioExtendido(medicoID=${medico.identificacion}, fecha=${fechaSiguiente})}"
           class="btn-navegacion">Siguiente</a>
        <button th:if="${fechaSiguiente == null}" class="btn-navegacion" disabled>Siguiente</button>
    </div>
</div>

<div>
    <a class="buscarCita" th:href="@{/pacientes/buscar}">Volver a Buscar Citas</a>
</div>

<table>
    <tr>
        <th>Fecha</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>
    <tr th:each="horario : ${horarios}">
        <td th:text="${horario.fecha}"></td>
        <td th:text="${horario.horaInicio}"></td>
        <td th:text="${horario.horaFin}"></td>
        <td th:text="'₡'+ ${horario.precio}"></td>
        <td>
            <div th:if="${T(java.time.LocalDate).parse(horario.fecha).isBefore(T(java.time.LocalDate).now())}">
                <span class="vencida">Vencida</span>
            </div>
            <!-- Si la fecha es hoy o futura, se permite reservar -->
            <div th:if="${!T(java.time.LocalDate).parse(horario.fecha).isBefore(T(java.time.LocalDate).now()) }">
                <form th:if="${#strings.isEmpty(horario.pacienteID)}" method="post" action="/pacientes/horarioExtendido/reservar">
                    <input type="hidden" name="horarioID" th:value="${horario.id}">
                    <button type="submit" href= "#popup">Reservar</button>
                </form>
                <span th:if="${!#strings.isEmpty(horario.pacienteID)}" class="reservada">Reservado</span>
            </div>
        </td>
    </tr>
</table>

<div th:if="${mostrarPopup}" class="popup-container active">
    <div class="popup-card">
        <h2 class="popup-header">Confirmar Cita</h2>
        <div class="popup-content">
            <table>
                <thead>
                <tr>
                    <th>Médico</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="'Lic. ' + ${medico.nombre}"></td>
                    <td th:text="${medico.especialidad}"></td>
                    <td th:text="${horario.fecha}"></td>
                </tr>
                <tr>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Ubicación</th>
                </tr>
                <tr>
                    <td th:text="${horario.horaInicio}"></td>
                    <td th:text="${horario.horaFin}"></td>
                    <td th:text="${medico.ubicacion}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="popup-buttons">
            <form action="/pacientes/horarioExtendido/confirmar" method="post">
                <input type="hidden" name="horarioID" th:value="${horario.id}">
                <button type="submit" class="popup-btn confirm-btn">Confirmar</button>
            </form>
            <form action="/pacientes/horarioExtendido/cancelar" method="post">
                <input type="hidden" name="horarioID" th:value="${horario.id}">
                <button type="submit" class="popup-btn cancel-btn">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{layouts/footer}"></div>

</body>
</html>
